@using Demo.BusinessLogic.DTOs.Departments
@model DepartmentDetailedDTO
@{
    ViewData["Title"] = "Delete";
}

<h1 class="my-5 w-75">Delete Department</h1>

<partial name="Partial/DetailsDeleteDepartmentPartial"/>