@using Demo.BusinessLogic.DTOs.Departments
@model DepartmentDetailedDTO
@{
    ViewData["Title"] = "Details";
}
<h1 class="my-5 w-75">Department Details</h1>

<partial name="Partial/DetailsDeleteDepartmentPartial" />