@using Demo.BusinessLogic.DTOs.Employees
@model EmployeeDetailedDTO
@{
    ViewData["Title"] = "Details";
}
<h1 class="my-5 w-75">Employee Details</h1>
<partial name="Partial/DetailsDeleteEmployeePartial" />

