@{
    @* Layout = "_Layout"; // Use the default layout for this view *@
}




<section>
    <center>
        <div class="mt-2 bg-warning p-5 w-75">
            <h1>Welcome to Privacy Page</h1>
            <p>Route Academy</p>
        </div>
    </center>
</section>

